@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans|Roboto&display=swap");
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes hamburger-menu-animation {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(3rem); } }

@keyframes article-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flex-card-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes home-animation {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes bar-1-animation {
  50% {
    transform: translateY(0.6rem); }
  100% {
    transform: translateY(0.6rem) rotate(45deg); } }

@keyframes bar-3-animation {
  50% {
    transform: translateY(-0.6rem); }
  100% {
    transform: translateY(-0.6rem) rotate(-45deg); } }

/*
background: rgb(255,225,112);
background: linear-gradient(90deg, rgba(255,225,112,1) 5%, rgba(121,9,89,1) 95%);
*/
.article {
  animation: article-animation 500ms;
  -moz-animation: article-animation 500ms;
  -webkit-animation: article-animation 500ms;
  -o-animation: article-animation 500ms;
  -ms-animation: article-animation 500ms;
  border-color: #999;
  border-style: solid;
  border-width: 0px;
  margin: 0rem 2rem;
  z-index: 1; }
  .article a {
    text-decoration: none; }

@media only screen and (max-width: 700px) {
  .article {
    margin: 0; } }

.article-topbar {
  background-color: rgba(251, 251, 251, 0.25);
  display: flex;
  font-family: "Open Sans", sans-serif;
  justify-content: space-between;
  margin: 0; }
  .article-topbar a {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 1rem;
    text-decoration: none;
    transition: 300ms; }
    .article-topbar a:hover {
      background-color: rgba(0, 0, 0, 0.25); }
    .article-topbar a:visited {
      color: white; }

@media only screen and (max-width: 700px) {
  .article-topbar a {
    padding: 0.7rem; } }

.article-topbar-link {
  background-color: #fbfbfb;
  padding: 0.7rem;
  text-align: center; }

.article-content {
  background-color: #fbfbfb;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  overflow-x: auto;
  padding: 1rem 3rem 2rem 3rem; }
  .article-content h1 {
    border-bottom: 3px solid black;
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 0 1rem 0; }
  .article-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem 0 0 0; }
  .article-content h3 {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0.4rem 0 0 0; }
  .article-content h4 {
    font-size: 1.9rem;
    margin: 0; }
  .article-content h5 {
    margin: 0;
    font-size: 1.75rem; }
  .article-content h6 {
    font-size: 1.25rem;
    margin: 0;
    font-weight: normal; }
  .article-content p {
    font-size: 1.1rem; }
  .article-content li {
    font-size: 1.1rem; }

@media only screen and (max-width: 700px) {
  .article-content {
    background-color: #fbfbfb;
    font-size: 1rem;
    padding: 0.3rem 1.1rem 2rem 1.1rem; }
    .article-content h1 {
      border-bottom: 2px solid black;
      font-size: 2rem;
      font-weight: bold; }
    .article-content h2 {
      font-size: 1.9rem;
      font-weight: bold; }
    .article-content h3 {
      font-size: 1.7rem;
      font-weight: bold; }
    .article-content h4 {
      font-size: 1.2rem;
      margin: 0; }
    .article-content h5 {
      font-size: 1.2rem;
      margin: 0; }
    .article-content h6 {
      font-size: 1.1rem;
      margin: 0; }
    .article-content p {
      font-size: 1rem; }
    .article-content ul {
      padding: 0 1rem 0 1.5rem; }
    .article-content li {
      font-size: 1rem; } }
