/*
background: rgb(255,225,112);
background: linear-gradient(90deg, rgba(255,225,112,1) 5%, rgba(121,9,89,1) 95%);
*/
* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  z-index: 0; }

body {
  /*
	background-image: url('../img/overlay.png'),
			linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
			url('../img/bg.jpg');
	background-size: 100% auto 100% auto;

	background-position: center center top center;
	background-repeat: repeat no-repeat no-repeat;
	background-attachment: fixed fixed fixed;
*/
  background: #141a30;
  margin: 0;
  z-index: 0; }
  body.fade-in:before {
    display: none; }

.error {
  background: #ffcbcb;
  border: 2px;
  border-radius: 0.5rem;
  color: #ac353c;
  display: none;
  padding: 1rem; }
