@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans|Roboto&display=swap");
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes hamburger-menu-animation {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(3rem); } }

@keyframes article-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flex-card-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes home-animation {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes bar-1-animation {
  50% {
    transform: translateY(0.6rem); }
  100% {
    transform: translateY(0.6rem) rotate(45deg); } }

@keyframes bar-3-animation {
  50% {
    transform: translateY(-0.6rem); }
  100% {
    transform: translateY(-0.6rem) rotate(-45deg); } }

/*
background: rgb(255,225,112);
background: linear-gradient(90deg, rgba(255,225,112,1) 5%, rgba(121,9,89,1) 95%);
*/
.flex_card_list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  transition: 400ms ease-in; }

.flex_card {
  background-color: #141a30;
  border-radius: 6px;
  box-shadow: 0 0 16px -4px grey;
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem 1rem 0.5rem;
  max-width: 350px;
  overflow: hidden;
  padding: 0;
  transition: 400ms ease-in; }
  .flex_card a {
    color: #ffe170;
    text-decoration: none; }
  .flex_card h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 0.3rem 0 0.3rem 0; }
  .flex_card h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0.3rem 0 0.3rem 0; }
  .flex_card h5 {
    font-weight: normal;
    font-size: 18px;
    margin: 0.3rem 0 0.3rem 0; }
  .flex_card h6 {
    font-weight: normal;
    font-size: 16px;
    margin: 0.3rem 0 0.3rem 0; }
  .flex_card p {
    font-size: 16px;
    color: #aaa;
    margin: 0.3rem 0 0.3rem 0; }
  .flex_card img {
    background-size: cover;
    margin: 0;
    max-width: 100%;
    max-height: 50%;
    padding: 0;
    transition: 400ms ease; }
  .flex_card:hover {
    box-shadow: 0 0 16px -4px black;
    opacity: 0.85; }

.flex_card_info {
  color: white;
  flex: 1;
  flex-basis: 30%;
  padding: 0 0.6rem 0.3rem 0.6rem; }

@media only screen and (max-width: 700px) {
  .flex_card {
    margin: 1rem 0rem 1rem 0rem; }
    .flex_card h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0.3rem 0 0.3rem 0; }
    .flex_card h5 {
      font-weight: normal;
      font-size: 16px;
      margin: 0.3rem 0 0.3rem 0; }
    .flex_card p {
      font-size: 14px;
      color: #aaa;
      margin: 0.3rem 0 0.3rem 0; }
    .flex_card img {
      max-height: 30%; } }

.horizontal_card {
  background-color: #141a30;
  border-radius: 6px;
  box-shadow: 0 0 16px -4px grey;
  margin: 1rem 0.5rem 0 0.5rem;
  width: 100%;
  padding: 0;
  transition: .5s ease; }
  .horizontal_card a {
    color: #ffe170;
    text-decoration: none; }
  .horizontal_card h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 0.3rem 0 0.3rem 0; }
  .horizontal_card h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0.3rem 0 0.3rem 0; }
  .horizontal_card h5 {
    font-weight: normal;
    font-size: 18px;
    margin: 0.3rem 0 0.3rem 0; }
  .horizontal_card h6 {
    font-weight: normal;
    font-size: 16px;
    margin: 0.3rem 0 0.3rem 0; }
  .horizontal_card p {
    font-size: 16px;
    color: #aaa;
    margin: 0.3rem 0 0.3rem 0; }
  .horizontal_card ul li {
    font-size: 15px; }

.horizontal_card_icon {
  background-color: white;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0 0 16px -4px black;
  display: inline-block;
  float: left;
  max-width: 84px;
  max-height: 84px;
  margin: 1rem;
  padding: 0.3rem;
  transition: 400ms ease; }
  .horizontal_card_icon:hover {
    opacity: 0.80; }

.horizontal_card_info {
  color: white;
  padding: 1rem; }

@media only screen and (max-width: 700px) {
  .horizontal_card {
    margin: 0.5rem 0rem 0.5rem 0; }
    .horizontal_card h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0.3rem 0 0.3rem 0; }
    .horizontal_card h5 {
      font-weight: normal;
      font-size: 16px;
      margin: 0.3rem 0 0.3rem 0; }
    .horizontal_card p {
      font-size: 14px;
      color: #aaa;
      margin: 0.3rem 0 0.3rem 0; }
  .horizontal_card_icon {
    max-width: 74px;
    max-height: 74px; }
  .horizontal_card_info {
    width: 100%;
    padding: 1rem; } }
