@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans|Roboto&display=swap");
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes hamburger-menu-animation {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(3rem); } }

@keyframes article-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flex-card-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes home-animation {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes bar-1-animation {
  50% {
    transform: translateY(0.6rem); }
  100% {
    transform: translateY(0.6rem) rotate(45deg); } }

@keyframes bar-3-animation {
  50% {
    transform: translateY(-0.6rem); }
  100% {
    transform: translateY(-0.6rem) rotate(-45deg); } }

/*
background: rgb(255,225,112);
background: linear-gradient(90deg, rgba(255,225,112,1) 5%, rgba(121,9,89,1) 95%);
*/
.code-generic {
  background-color: #eee;
  font-size: 14px;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  border-radius: 0.4rem; }
