/*
background: rgb(255,225,112);
background: linear-gradient(90deg, rgba(255,225,112,1) 5%, rgba(121,9,89,1) 95%);
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans|Roboto&display=swap");
.flex_card {
  align-items: flex-start;
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 0 16px -4px grey;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  max-width: 300px;
  overflow: hidden;
  padding: 0;
  transition: .5s ease; }
  .flex_card a {
    color: black;
    text-decoration: none; }
  .flex_card h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0.3rem 0 0.3rem 0; }
  .flex_card h6 {
    font-weight: normal;
    font-size: 16px;
    margin: 0.3rem 0 0.3rem 0; }
  .flex_card p {
    font-size: 14px;
    color: grey;
    margin: 0.3rem 0 0.3rem 0; }
  .flex_card img {
    margin: 0;
    max-width: 100%;
    max-height: 70%;
    padding: 0; }
  .flex_card:hover {
    box-shadow: 0 0 16px -4px black; }

.flex_card_info {
  flex: 1;
  flex-basis: 30%;
  padding: 0 0.45rem 0 0.45rem; }

@media only screen and (max-width: 700px) {
  .flex_card {
    max-width: 100%; } }
