/*
background: rgb(255,225,112);
background: linear-gradient(90deg, rgba(255,225,112,1) 5%, rgba(121,9,89,1) 95%);
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans|Roboto&display=swap");
#tag-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  font-family: "Roboto", sans-serif;
  overflow-x: auto;
  margin: 0.8rem 0 0rem 0;
  padding: 0;
  list-style: none;
  width: 100%; }
  #tag-list li {
    color: white;
    background-color: #141a30;
    border-radius: 6px;
    font-size: 14px;
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    transition: 500ms ease;
    white-space: nowrap; }
    #tag-list li:hover {
      background-color: #5467A8; }

@media only screen and (max-width: 700px) {
  #tag-list {
    margin: 0.8rem 0 0 0; }
    #tag-list li {
      font-size: 12px;
      margin: 0 0.1rem;
      padding: 0.2rem 0.5rem; } }
