@import "animations.scss";
@import "colors.scss";
@import "constants.scss";
@import "fonts.scss";

.code-generic {
	background-color: #eee;
	font-size: 14px;
	margin: 1rem 0 1rem 0;
	padding: 1rem;
	border-radius: 0.4rem;
}
