@import "colors.scss";
@import "constants.scss";
@import "fonts.scss";

.flex_card {
	align-items: flex-start;
	background-color: #eee;
	border-radius: 6px;
	box-shadow: 0 0 16px -4px grey;
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
	max-width: 300px;
	overflow: hidden;
	padding: 0;
	transition: .5s ease;

	a {
		color: black;
		text-decoration: none;
	}

	h4 {
		font-size: 20px;
		font-weight: bold;
		margin: 0.3rem 0 0.3rem 0;
	}
	h6 {
		font-weight: normal;
		font-size: 16px;
		margin: 0.3rem 0 0.3rem 0;
	}
	p {
		font-size: 14px;
		color: grey;
		margin: 0.3rem 0 0.3rem 0;
	}

	img {
		margin: 0;
		max-width: 100%;
		max-height: 70%;
		padding: 0;
	}

	&:hover {
		box-shadow: 0 0 16px -4px black;
	}
}

.flex_card_info {
	flex: 1;
	flex-basis: 30%;
	padding: 0 0.45rem 0 0.45rem;
}

@media only screen and (max-width: $mobile-max-size) {
	.flex_card {
		max-width: 100%;
	}
}
